@font-face {
  font-family: 'Avenir';
  src: url('./AvenirLTStd-Black.otf') format('otf');
       font-weight: 300 900;
}
@font-face {
  font-family: 'Avenir Book';
  src: url('./AvenirLTStd-Book.otf') format('otf');
       font-weight: 300 900;
}
@font-face {
  font-family: 'Avenir Roman';
  src: url('./AvenirLTStd-Roman.otf') format('otf');
       font-weight: 300 900;
}
