@import url('@/asset/fonts/avenir_ff/avenir.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar,::-webkit-scrollbar-track,::-webkit-scrollbar-thumb {
  width: 0px;
  background: transparent;
}


*{
    font-family: "Avenir";
}